# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# chiavi
deploy_key.pub
deploy_key

# --- Vite & PWA ---
dev-dist/
dist/
public/sw.js
public/workbox-*.js
*-stats.json

# --- Sicurezza (Certificati SSL Locali) ---
# Dato che usi @vitejs/plugin-basic-ssl e mkcert
*.pem
*.key
.cert/

# --- Capacitor Android ---
# Build locali e cache
android/app/build/
android/.gradle/
android/build/

# File di configurazione locale (IMPORTANTE: contiene i percorsi del TUO pc)
android/local.properties

# File generati dall'IDE Android Studio
android/.idea/
android/*.iml